body{
  background-image: url("../images/shadows-of-empire-bkg.jpeg")
}

#title{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 65px;
  color: bisque;
  text-align: center;
}
.container{
  margin: 0 auto 0 auto;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 30px;
  color: orange;
}

#yourChar,
#defArea,
#enemyArea{
  width: 0 auto;
  height: 0 auto;
}
.user,
.enmyCard,
.charCard {
    font-size: 20px;
    border: 5px inset cadetblue;
    border-radius: 5px 20px 5px;
    background: orange; 

    
}
.charImg {
    width: 100px;
    height: 125px;
}
