body{
  background-image: url("../images/shadows-of-empire-bkg.jpeg")
}

#title{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 65px;
  color: bisque;
  text-align: center;
}
.container{
  margin: 0 auto 0 auto;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 30px;
  color: orange;
}

#yourChar,
#defArea,
#charSelect,
#enemyArea{
  width: 570px;
  height: 150px;
}
.charCard {
    border-style: solid;
    border-width: 1px;
    border-color: green;
    background: orange;
}
.charImg {
    width: 100px;
    height: 100px;
/* #info,
#attkBtn{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
} */
